body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    min-height:  550px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: white;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container1 {
    width: 800px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.page-header {
    display: flex;
    width: 1070px;
    height: 60px;
    margin-left: 184px;
    margin-right: 186px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}

.header-top {
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    list-style:none;
    width: 327px;
    height: 32px;
    left: 557px;
    top: 44px;
    align-items:flex-end;
}


.main-nav a {
    text-decoration: none;
    margin-left: 49px;
    font-family: DM Sans, serif;
    font-size: 15px;
    line-height: 20px;
    color: #696871;

}

.main-nav a {
    font-style: normal;
}

.main-nav a:hover {
    border-bottom: 2px solid #5454D4;
    padding-bottom: 10px;
}

.main-nav a:active {
    font-weight: bold;
    color: black;
    font-size: medium;
}

.page-header .btn {
    margin-left: 159px;
    text-decoration: none;
    color: white;
    font-family: DM Sans,serif;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    padding:19px 60px 19px 59px;
    background: #FF7143;
    border-radius: 10px;
}

.busi {
    display: flex;
    width: 1150px;
    height: 644px;
    margin-left: 184px;
    margin-right: 110px;
    justify-content: space-between;
}
.hero {
    margin-top: 100px;
    margin-right: 140px;
}

.subs {
    margin-top: 142px;
    width: 459px;
    height: 461px;
}
.section-title {
    font-family: DM Sans, serif;
    font-style: normal;
    font-size: 80px;
    line-height: 77px;
        color: #19191B;
}

.section-title1 {
    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    color: #19191B;

}

.section-title2{
    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
}

.title {
    font-family: Mulish,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-top: -30px;
    color: #696871;
}
.subs .btn {
    position: relative;
    text-decoration: none;
    color: white;
    top: 40px;
    font-family: DM Sans,serif;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    padding:19px 60px 19px 59px;
    background: #FF7143;
    border-radius: 10px;
    flex-direction: row;
}

.subs img {
    position: relative;
    top: 68px;
    left: 40px;
    border: 1px solid rgba(231, 231, 231, 1);
    padding: 18px 19px 18px 19px;
    border-radius: 50%;
}

.all-logo {
    display: flex;
    justify-content: space-between;
    margin-top: 201px;
   margin-left: 186px;
    margin-right: 100px;
}

.index {
    display: flex;
    margin-top: 160px;
    margin-left: 184px;
}
.subs1 {
    margin-left: 100px;
    margin-top: 70px;
}

.subs1 p {
   margin-top: 30px;

}
.subs1 a {
    text-decoration: none;
    font-family: DM Sans, serif;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #5454D4;
}

.metrics {
    display: flex;
    margin-top: 83px;
    margin-left: 184px;
}

.metrics img{
    margin-left: 130px;
}

.subs2 {
   margin-top: 132px;
}
.subs2 p {
    margin-top: 20px;
}
.subs2 a {
    text-decoration: none;
    font-family: DM Sans, serif;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #5454D4;
}

.service {
    display: flex;
    margin-left: 184px;
    margin-top: 138px;
    text-align: center;
    align-items: flex-end;
    justify-content: space-between;
}

.plan {
    display: flex;
    margin-top: 75px;
    margin-left: 165px;
}

.plan .right-plan {
    margin-top: 80px;
    margin-left: 222px;
    width: 346px;
    height: 65px;
    border: 1px solid #F7F7FB;
    text-align: center;
    border-radius: 10px;
    background-color: #F7F7FB;
}

.right-plan button {
    background-color:  #F7F7FB;
    border: 1px solid #F7F7FB;
    display: inline-block;
    padding: 18px 60px 20px 60px;
    margin-top: 2px;
    color: #19191B;
    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.500211px;

}

.right-plan button:nth-child(2) {
    margin-left: -5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.right-plan button:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.right-plan button:hover {
    color: #F7F7FB;
    background-color:rgba(84, 84, 212, 1);
}

.right-plan button:active {
    color: black;
    background-color:rgba(84, 84, 212, 1);
}


.price {
    display: flex;
    margin-left: 165px;
    margin-top: 98px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.price-title {
    font-family: DM Sans,serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
}

.price p {
    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.562737px;

    color: #696871;

}

.starter {
    border: 1px solid #F7F7FB;
    width: 330px;
    height: 441px;
    background-color: #F7F7FB;
    border-radius: 10px;
}
.price button {
    position: relative;
    top: 50px;
    text-decoration: none;
    width: 300px;
    height: 22px;
    color:rgba(84, 84, 212, 1) ;
    font-family: DM Sans, serif;
    font-style: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    border: 1px solid #F7F7FB;
    padding: 19px 42px 40px 42px;
    border-radius: 10px;
    background-color: white;
}
.premium {
    border: 1px solid #F7F7FB;
    width: 330px;
    height: 441px;
    background-color: #F7F7FB;
    border-radius: 10px;
}

.enterprise {
    border: 1px solid #F7F7FB;
    width: 330px;
    height: 441px;
    background-color: #F7F7FB;
    border-radius: 10px;
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    80% {
        transform: translateY(-10px);
    }
}

.price button:hover {
    animation: bounce 1s;
    color: #19191B;
    background-color: aqua;
}
.premium:hover {
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}
.premium p:hover {
    color: white;
}
